KIS_BASE_URL=https://openapi.koreainvestment.com:9443
KIS_APP_KEY=your_app_key
KIS_APP_SECRET=your_app_secret
KIS_CUSTOMER_TYPE=P
KIS_TIMEOUT_MS=12000
KIS_RETRY_COUNT=4
KIS_RETRY_BASE_DELAY_MS=600
KIS_TOKEN_CACHE_FILE=.kis_token_cache.json
KIS_TOKEN_PATH=/oauth2/tokenP
KIS_TR_VOLUME_RANK=FHPST01710000
KIS_TR_FLUCTUATION=FHPST01700000
KIS_TR_ITEM_CHART=FHKST03010100
KIS_TR_INDEX_CHART=FHKUP03500100
KIS_TR_FOREIGN_INST_TOTAL=FHPTJ04400000
KIS_INDEX_CODE_KOSPI=0001
KIS_INDEX_CODE_KOSDAQ=1001
KIS_INDEX_MARKET_CODE_KOSPI=U
KIS_INDEX_MARKET_CODE_KOSDAQ=U
KIS_HISTORY_DAYS=220
KIS_CANDIDATE_LIMIT=60
KIS_CONCURRENCY=4
KIS_RANK_MARKET_CODE=J
KIS_TOP_N=15
KIS_MIN_PRICE=1000
KIS_SCHEDULE_ENABLED=true
KIS_ALERT_HOUR=18
KIS_ALERT_MINUTE=0
KIS_ALERT_WEEKDAYS_ONLY=true
KIS_RUN_ON_STARTUP=false
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chat_id
LOG_LEVEL=info

